name: Testing
on: [push, pr]

jobs:
  lib:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test
        run: cargo test --tests
  doc:
      - uses: actions/checkout@v2
      - name: Test
        run: cargo test --doc

